#mainbody{
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
font-size: 13px;
font-weight: 300;
letter-spacing: 0.01rem;
color: #333333;
text-align:center;
}

#navbody{
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
font-weight: 300;
letter-spacing: 0.01rem;
color: #333333;
width:1260px;
}

.navbar-brand{
color: #333333 !important;
font-weight: 700;
}

#multisearchform{
padding-top:20px;
padding-bottom:30px;
}
#jira_key{
width:110px;
}
#summary{
width:150px;
}

.pull-right .btnlink {
padding: 10px 5px !important;

}

.pull-right button {
    height:30px;
    font-size: 10px;
    font-weight: 300;

}

.flashinfo{
position:fixed;
top:70px;
right:-5px;
}
.bg-success{
padding: 15px;
margin-bottom: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 5px;
}

.item{
width:1260px;
height: 50px;
text-align:left;
}
.bottom-line{
background-image: linear-gradient(to right, #dedede 0%, #dedede 50%, transparent 50%);
background-size: 12px 1px;
background-repeat: repeat-x;
}


.jirakey,.summary,.creator,.created_time,.jira_status,.pro_status,.schedule,.schedules,.submit{
float:left;
padding-right: 5px;
padding-left: 5px;
height:50px;
line-height:50px;
display: inline-block;
}


.jirakey{width:8%}
.summary{width:20%}
.creator{width:8%}
.jira_status{width:8%}
.pro_status{width:8%}
.schedule{width:10%;line-height:25px;}
.schedules{width:10%}
.submit{width:8%}

.starttime{
margin: 5px 0 -5px 0;
font-size: 10px;
}
.endtime{
padding-bottom:5px;
font-size: 10px;
}

.item .summary,.item .jira_status{
overflow: hidden;/*超出部分隐藏*/
white-space: nowrap;/*不换行*/
text-overflow: ellipsis;/*超出部分文字以...显示*/
}

.item a{
color: #333333;
}

.item_active{
background:#d9edf7;
}

.edit {
height:30px;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
font-size: 11px;
font-weight: 300;
letter-spacing: 0.01rem;
background:#f3f3f3;
}

#showform{
text-align:left;
}


.form-group input{
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.formlabel{
width:90px;
text-align:right;
display:inline-block;
padding-right:10px;
}
.form-ctrl{
text-align:center;
}

.navbar-default{
border:none;
}

.nodata{
margin:100px auto 20px;
width:300px;
height:100px;
text-align:center;
}

.fa-check-circle{
color:#75c8f1;
padding-left: 10px;
}

.postform{
width:800px;
margin:20px auto;
}

.postform textarea{
height:300px;
}

.main_post{
background: #fff;
width: 100%;
max-width: 800px;
padding: 20px 40px;
box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
margin-bottom:30px;
border-radius: 10px;
}