#mainbody{
width:1260px;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
font-size: 13px;
font-weight: 300;
letter-spacing: 0.01rem;
color: #333333;
}

#navbody{
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
font-weight: 300;
letter-spacing: 0.01rem;
color: #333333;
}

.navbar-brand{
color: #333333 !important;
font-weight: 700;
}

#searchform{
    padding-top: 10px;
    height:30px;
}

#searchform input {
    height:30px;
    font-size: 8px;
    font-weight: 300;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #eceaea;
}

#searchform button {
    height:30px;
    font-size: 10px;
    font-weight: 300;
    border-radius: 0px 4px 4px 0px;
    margin:-5px;
    border: 1px solid #eceaea;
}

#export {
    padding-top: 10px;
    height:30px;

}

#export button {
    height:30px;
    font-size: 10px;
    font-weight: 300;

}

.item{
border-bottom: 1px dashed #777;
height:50px;
}

.jirakey,.summary,.creator,.created_time,.jira_status,.pro_status,.schedule,.schedules,.submit{
float:left;
padding-right: 5px;
padding-left: 5px;
height:50px;
line-height:50px;
display: inline-block;
}

.jirakey{width:8%}
.summary{width:20%}
.creator{width:8%}
.created_time{width:8%}
.jira_status{width:8%}
.pro_status{width:8%}
.schedule{width:9%;line-height:25px;}
.schedules{width:9%}
.submit{width:8%}

.starttime{
margin: 5px 0 -5px 0;
font-size: 10px;
}
.endtime{
padding-bottom:5px;
font-size: 10px;
}

.item .summary{
overflow: hidden;/*超出部分隐藏*/
white-space: nowrap;/*不换行*/
text-overflow: ellipsis;/*超出部分文字以...显示*/
}

#showform{

}

#showform div{
width:70%;

}

.form-group input{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar-default{
border:none;
}

.nodata{
margin:100px auto 20px;
width:300px;
height:100px;
text-align:center;
}