@charset "UTF-8";
body {
  background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 15px;
  color: #333;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 20px 50px 0 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 80px;
  left: calc(23% + 25px);
  bottom: 0px;
  width: 1px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.updatelog{
padding-bottom:30px;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 23%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -7px;
  z-index: 99;
}
.entry .title .date {
  margin: 0;

}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 76%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}
