<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JIRA项目排期</title>
    <meta http-equiv="keywords" content="关键词">
    <meta http-equiv="description" content="描述">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootoast.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-default" id="nav-bar">
  <div id="navbody" class="container">
    <div class="navbar-header">
      <a class="navbar-brand" >JIRA-SCHEDULE</a>
    </div>
    <div id="navbar" class="">
      <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="{{ url_for('index') }}">全部</a>
            </li>
        {% for i in all_pro_status %}
            <li class="nav-item">
                <a href="{{ url_for('project_status',pro_status_id=i.id) }}">{{ i.name }}</a>
            </li>
        {% endfor %}
            <li class="nav-item">
                <a href="{{ url_for('big_pro') }}">大项目</a>
            </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
             <li class="nav-item">
                <a href="{{ url_for('readme') }}" target="_blank">
                        GUIDE
                </a>
            </li>
            <li class="nav-item">
                <a class="btnlink" href="{{ url_for('export') }}" id="export">
                    <button class="btn btn-light" >
                        导出
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="btnlink" href="{{ url_for('create_pro') }}" >
                    <button class="btn btn-light" id="create">
                        创建
                    </button>
                </a>
            </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}

<div class="flashinfo">
{% for message in get_flashed_messages() %}
    <div class="bg-success">{{ message }}</div>
{% endfor %}
</div>


<main class="" id="mainbody">
    {% block content %} {% endblock content %}
</main>

{% block footer %}
<footer class="footer text-center">
    <p class="small">Powered by 顺逛产品组</p>
</footer>
{% endblock footer %}

<div class="pull">
    <a href="#" id="get_new">
    <img src='{{ url_for('static', filename='images/bulb.png') }}' title='拉取'>
    </a>
</div>

{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{{ url_for('static', filename='js/bootoast.js') }}"></script>
<script>
</script>

{% endblock %}
</body>
</html>