<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JIRA项目排期</title>
    <meta http-equiv="keywords" content="关键词">
    <meta http-equiv="description" content="描述">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-default" id="nav-bar">
  <div id="navbody" class="container">
    <div class="navbar-header">
      <a class="navbar-brand" >JIRA-SCHEDULE</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="{{ url_for('index') }}">全部</a>
            </li>
        {% for i in all_pro_status %}
            <li class="nav-item">
                <a href="{{ url_for('project_status',pro_status_id=i.id) }}">{{ i.name }}</a>
            </li>
        {% endfor %}
            <li class="nav-item">
                <form class="form-inline" id="searchform" action="{{ url_for('search') }}">
                    <input type="text" name="q" class="form-control mr-sm-1" placeholder="jira编号/需求标题/产品经理" required>
                    <button class="btn btn-light my-2 my-sm-0" type="submit">
                        <span class="oi oi-magnifying-glass">搜索</span>
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('export') }}" id="export">
                    <button class="btn btn-light" >
                        导出
                    </button>
                </a>
            </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{% endblock %}

<main class="container" id="mainbody">
    {% for message in get_flashed_messages() %}
        <div class="alert bg-success">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock content %}
</main>

{% block footer %}
<footer class="footer text-center">
    <p class="small">Powered by 顺逛产品组</p>


</footer>
{% endblock footer %}



{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}
</body>
</html>