{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block content %}
<form action="{{ url_for('multi_search') }} " id="multisearchform" class="form-inline">
    <input class="form-control" id="jira_key" name="jira_key" type="text" value="{% if last_search['jira_key'] %}{{ last_search['jira_key'] }}{% endif %}" placeholder="输入jira编号">
    <input class="form-control" id="summary" name="summary" type="text" value="{% if last_search['summary'] %}{{ last_search['summary'] }}{% endif %}" placeholder="输入jira标题">
    <select class="form-control" id="pm" name="pm" >
        <option value="">选择产品经理</option>
        {% for pm in all_creator %}
            <option value="{{ pm }}" {% if last_search['pm']==pm %}selected{% endif %}>{{ pm }}</option>
        {% endfor %}
    </select>
    <select class="form-control" id="jira_status" name="jira_status">
        <option value="">选择jira状态</option>
        {% for jira_status in all_jira_status %}
            <option value="{{ jira_status }}" {% if last_search['jira_status']==jira_status %}selected{% endif %}>{{ jira_status }}</option>
        {% endfor %}
    </select>
    <select class="form-control" id="pro_status" name="pro_status">
        <option value="">选择项目状态</option>
        {% for pro_status in all_pro_status %}
            <option value="{{ pro_status.id }}" {% if last_search['pro_status']==pro_status.id %}selected{% endif %}>{{ pro_status.name }}</option>
        {% endfor %}
    </select>
    <input class="form-control" id="submit" name="submit" type="submit" value="搜索">
</form>
<div class="">
        <div class="item center-block">
            <div class="jirakey firstlabel">
                jira编号
            </div>
            <div class="summary">
                需求标题
            </div>
            <div class="creator">
                产品经理
            </div>
            <div class="jira_status">
                jira状态
            </div>
            <div class="pro_status">
                项目状态
            </div>
            <div class="schedules">
                UI排期
            </div>
            <div class="schedules">
                后端排期
            </div>
            <div class="schedules">
                前端排期
            </div>
            <div class="schedules">
                测试排期
            </div>
            <div class="submit">
                操作
            </div>

        </div>

{% if issues %}
    {% for issue in issues %}

        <div class="item center-block bottom-line" id="{{ issue.id }}">

            <div class="jirakey">
                {{ issue.key }}
            </div>
            <div class="summary">
                <a href="{{ issue.url }}" target="_blank">{{ issue.summary }}</a>
            </div>
            <div class="creator">
                {{ issue.creator }}
            </div>
            <div class="jira_status">
                {{ issue.status }}
            </div>
            <div class="pro_status">
                {% if issue.pro_status %}
                {{ issue.pro_status.name }}
                {% endif %}
            </div>
            <div class="schedule ui_schedule">
                <p class="starttime">{% if issue.ui_schedule %}{{ issue.ui_schedule[0:10] }}{% endif %}</p>
                <p class="endtime">{% if issue.ui_schedule %}{{ issue.ui_schedule[12:24] }}{% endif %}</p>
            </div>
            <div class="schedule back_schedule">

                <p class="starttime">{% if issue.back_schedule %}{{ issue.back_schedule[0:10] }}{% endif %}</p>
                <p class="endtime">{% if issue.back_schedule %}{{ issue.back_schedule[12:24] }}{% endif %}</p>
            </div>
            <div class="schedule front_schedule">
                <p class="starttime">{% if issue.front_schedule %}{{ issue.front_schedule[0:10] }}{% endif %}</p>
                <p class="endtime">{% if issue.front_schedule %}{{ issue.front_schedule[12:24] }}{% endif %}</p>
            </div>
            <div class="schedule test_schedule">
                <p class="starttime">{% if issue.test_schedule %}{{ issue.test_schedule[0:10] }}{% endif %}</p>
                <p class="endtime">{% if issue.test_schedule %}{{ issue.test_schedule[12:24] }}{% endif %}</p>
            </div>
            <div class="submit">
                <button class="edit btn" data-id="{{ issue.id }}" data-issue="{{issue}}" data-toggle="modal" data-target="#myModal">排期</button>

            </div>

        </div>
    {% endfor %}
    {{ render_pagination(pagination) }}

{% else %}
    <div class="nodata">
        <p class="center">这个状态下没有数据</p>
    </div>
{% endif %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="showform">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(function() {
    //监听编辑按钮点击事件
    $('.edit').click(function(){
        var issue_id=$(this).attr('data-id');
        //请求表单
        $.ajax({
            type: 'GET',
            url:'/showform/'+issue_id,
            success:function(data){
                console.log(data);
                $('#showform').html(data.html);
                //时间选择器
                $('.scheduleform').daterangepicker({
                      autoUpdateInput: false,
                      showDropdowns:false,
                      locale: {
                            format: "YYYY-MM-DD", //设置显示格式
                            applyLabel: '确定', //确定按钮文本
                            cancelLabel: '取消', //取消按钮文本
                            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                            '七月', '八月', '九月', '十月', '十一月', '十二月']
                      }
                });
                $('.scheduleform').on('apply.daterangepicker', function(ev, picker) {
                  $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
                });
                $('.scheduleform').on('cancel.daterangepicker', function(ev, picker) {
                  $(this).val('');
                });

                //监听表单按钮提交事件
                $('#ajaxsubmit').click(function(){
                    var pro_status_value = $('#pro_status_form').val();
                    var ui_schedule_value = $('#ui_schedule').val();
                    var back_schedule_value = $('#back_schedule').val();
                    var front_schedule_value = $('#front_schedule').val();
                    var test_schedule_value = $('#test_schedule').val();
                    var ui_staff_value = $('#ui_staff').val();
                    var back_staff_value = $('#back_staff').val();
                    var front_staff_value = $('#front_staff').val();
                    var test_staff_value = $('#test_staff').val();

                    $.ajax({
                        type:'POST',
                        url:'/ajaxedit/'+issue_id,
                        data:{
                            pro_status: pro_status_value,
                            ui_schedule: ui_schedule_value,
                            back_schedule: back_schedule_value,
                            front_schedule: front_schedule_value,
                            test_schedule: test_schedule_value,
                            ui_staff: ui_staff_value,
                            back_staff: back_staff_value,
                            front_staff: front_staff_value,
                            test_staff: test_staff_value
                        },
                        success:function(data){
                             //alert("请求成功",data);
                             console.log(data);
                            $("#myModal").modal('hide');
                            $('#'+issue_id).addClass("item_active");
                            $('#'+issue_id).children('.submit').append('<i class="fa fa-check-circle fa-lg"></i>');
                            $('#'+issue_id).children('.pro_status').text(data.pro_status);
                            $('#'+issue_id).children('.ui_schedule').children('.starttime').text(data.ui_schedule.slice(0,10));
                            $('#'+issue_id).children('.ui_schedule').children('.endtime').text(data.ui_schedule.slice(12,24));
                            $('#'+issue_id).children('.back_schedule').children('.starttime').text(data.back_schedule.slice(0,10));
                            $('#'+issue_id).children('.back_schedule').children('.endtime').text(data.back_schedule.slice(12,24));
                            $('#'+issue_id).children('.front_schedule').children('.starttime').text(data.front_schedule.slice(0,10));
                            $('#'+issue_id).children('.front_schedule').children('.endtime').text(data.front_schedule.slice(12,24));
                            $('#'+issue_id).children('.test_schedule').children('.starttime').text(data.test_schedule.slice(0,10));
                            $('#'+issue_id).children('.test_schedule').children('.endtime').text(data.test_schedule.slice(12,24));
                            bootoast({
                                message: data.msg,
                                type: 'success',
                                position:'right-bottom',
                                timeout: 4
                            });
                        },
                        error:function(){
                            alert("请求失败");
                            console.log(data.errmsg);
                        }
                   })
                })

            }
        });
    });

    $("#nav-bar").find("li").each(function () {
        var a = $(this).find("a:first")[0];
        if ($(a).attr("href") === location.pathname) {
            $(this).addClass("active");
        } else {
            $(this).removeClass("active");
        }
    });

    $("#get_new").click(function(){
        $.ajax({
            url:'/getnew',
            success:function(data){
                bootoast({
                    message: data.msg,
                    type: 'success',
                    position:'right-bottom',
                    timeout: 5
                });
                $('.pull').animate({top:'-150px'},1000);
            },
            error:function(){
                bootoast({
                    message:'拉取失败，联系浩楠！',
                    type: 'warning',
                    position:'right-bottom',
                    timeout: 5
                });
                console.log(data.errmsg);
            }
       })
    });
});

</script>
{% endblock %}