{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block content %}
<div class="container">
        <div class="item center-block">
            <div class="jirakey">
                jira编号
            </div>
            <div class="summary">
                需求标题
            </div>
            <div class="creator">
                产品经理
            </div>
            <div class="created_time">
                创建时间
            </div>
            <div class="schedules">
                UI排期
            </div>
            <div class="schedules">
                后端排期
            </div>
            <div class="schedules">
                前端排期
            </div>
            <div class="schedules">
                测试排期
            </div>
            <div class="submit">
                操作
            </div>

        </div>

{% if issues %}
    {% for issue in issues %}
        <div class="item center-block">
            <div class="jirakey">
                {{ issue.key }}
            </div>
            <div class="summary">
                {{ issue.summary }}
            </div>
            <div class="creator">
                {{ issue.creator }}
            </div>
            <div class="created_time">
                {{ issue.created_time }}
            </div>
            <div class="schedule">
                {% if issue.ui_schedule %}
                <p>{{ issue.ui_schedule[0:10] }}</p>
                <p>{{ issue.ui_schedule[12:24] }}</p>
                {% endif %}
            </div>
            <div class="schedule">
                {% if issue.back_schedule %}
                <p>{{ issue.back_schedule[0:10] }}</p>
                <p>{{ issue.back_schedule[12:24] }}</p>
                {% endif %}
            </div>
            <div class="schedule">
                {% if issue.front_schedule %}
                <p>{{ issue.front_schedule[0:10] }}</p>
                <p>{{ issue.front_schedule[12:24] }}</p>
                {% endif %}
            </div>
            <div class="schedule">
                {% if issue.test_schedule %}
                <p>{{ issue.test_schedule[0:10] }}</p>
                <p>{{ issue.test_schedule[12:24] }}</p>
                {% endif %}
            </div>
            <div class="submit">
                <button class="edit btn btn-primary" data-id="{{ issue.id }}" data-issue="{{issue}}">编辑</button>
            </div>

        </div>
    {% endfor %}

    {{ render_pagination(pagination) }}

    <div>
        <form action="" method="post" id="schedule_form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <input type="text" class="form-control" id="ui_schedule" name="ui_schedule" placeholder="UI排期" value="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="back_schedule" name="back_schedule" placeholder="后端排期">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="front_schedule" name="front_schedule" placeholder="前端排期">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="test_schedule" name="test_schedule" placeholder="测试排期">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
{% endif %}


</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(function() {
//时间选择器
    $('input[type="text"]').daterangepicker({
      autoUpdateInput: false,
      showDropdowns:false,
      locale: {
            format: "YYYY-MM-DD", //设置显示格式
            applyLabel: '确定', //确定按钮文本
            cancelLabel: '取消', //取消按钮文本
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
            '七月', '八月', '九月', '十月', '十一月', '十二月'
            ]
      }
    });
    $('input[type="text"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
    });
    $('input[type="text"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });

//表单
    $('.edit').click(function(){
        var issue_id=$(this).attr('data-id');
        var issue=$(this).attr('data-issue');
        var issues={{issues}}
        console.log(issues);
        $('#schedule_form').attr('action','/edit/'+issue_id);
        $('#ui_schedule').attr('value',issue.ui_schedule);
    });
});
</script>
{% endblock %}